@{
}

@model IEnumerable<string>

    <div class="d-grid">
        <a asp-controller="Home" asp-action="Index" asp-route-bookType="" class="btn">Home</a>


        @foreach (string t in Model)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-bookType="@t" class="btn">@t</a>
        }

    </div>
